/*Todo*/
*{
    margin: 0%;
    padding: 0%;
}

/* Cuerpo */
body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

section.content{
    width: 80%;
    box-sizing: border-box;
}

/*Encabezado*/
header{
    background-color: #22a2c4;
    text-align: center;
    border-bottom: rgb(0, 0, 0) 1px;
}

/*Menú*/
nav{
    background-color: rgb(184, 184, 184);
    height: 68px;
    border: 1px solid black;
}

nav ul li{
    float: left;
    list-style: none;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 5%;
    padding: 1px;
}

li{
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:20%;
}

button.inicio{
    box-shadow: darkgray 5px 5px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 150px;
    height: 48px;
    font-size: 13px;
    outline: none;
    border: 1px solid #22a2c4;
    background-color: #fff;
    border-radius: 6px;
    color: #22a2c4;
    cursor: pointer;
    margin:5px auto;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
}

button.inicio::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right,
    rgb(#fafafa), #22a2c4);
    transition: all .25s;
    z-index: -1;
}

button.inicio:hover{
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: #22a2c4;
    font-size: 14px;
    transition: .4s;
}

button.inicio:hover::before{
    height: 100%;
}

a.x{text-decoration: none;}

/*botón de login y register*/
button.login{
    box-shadow: darkgray 5px 5px;
    text-decoration: none;
    display: block;
    width: 80px;
    height: 28px;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    border: 1px solid #22a2c4;
    background-color: #fff;
    border-radius: 6px;
    color: #22a2c4;
    cursor: pointer;
    margin:15px auto;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
}
button.login::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right,
    rgb(#fafafa), #22a2c4);
    transition: all .25s;
    z-index: -1;
}

button.login:hover{
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: #22a2c4;
    font-size: 13px;
    transition: .4;
}

button.login:hover::before{
    height: 100%;
}

/* esto mantiene lo demás abajo*/
.clearfix{
    clear: both;
}

/* Artículo*/
.article{
    color: black;
}

/* contenido */
#content{
    float: left;
    width: 80%;
    padding: 10px;
    background: lightgray;
    min-height: 500px;
    box-sizing: border-box;
}

/*formulario*/
form.rellenar{
    width: 20%;
    border: solid 1px;
}

label{
    text-align: justify;
}

/*Tabla*/
td{
    text-align: justify;
    padding: 10px;
    box-sizing: border-box;
}

button{
    border: 0px;
    background-color: transparent;
}

/* Barra Lateral*/
aside{
    float: left;
    width: 20%;
    background-color:rgb(184, 183, 183);
    border:1px solid black;
    border-top: 0px;
    padding: 9px;
    box-sizing: border-box;
}

/* Pie de Página */
footer{
    background-color: #22a2c4;
    border: 1px solid black;
    color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
}

/*Scroll o barra lateral*/
body::-webkit-scrollbar{
    width: 0.7em;
}

body::-webkit-scrollbar-track{
    border-radius: 10px;
    -webkit-box-shadow-:inset 0 0 6px #22a2c4;
}

body::-webkit-scrollbar-thumb{
    background-color: #22a2c4;
    outline: 1px solid #000;
    border-radius: 10px;
    border: solid black 1px;
}

/*Botón de Volver y barra superior de % de contenido*/

#ir_arriba_boton{
    position: fixed;
    z-index: 1000;
    right: 25px;
    bottom: 25px;
    background-color: rgb(255, 255, 255);
    width: 58px;
    height: 58px;
    color: #00bfbf;
    text-align: center;
    border-radius: 50%;
    transition: all .2s;
}

#ir_arriba_boton:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #22a2c4;
}

.indicador_contenedor{
    width: 100%;
    position: fixed;
    top: 0;
    height: 7px;
    z-index: 1001;
}

.indicador_scroll{
    height: 100%;
    width: 0;
    background-color: #28bce6;
}

.ocultar{
    opacity: 0;
    visibility: hidden;
}

.mostrar{
    opacity: 1;
    visibility: visible;
}

div.arrow {
	width: 45%;
	height: 45%;
	box-sizing: border-box;
	position: absolute;
	transform: rotate(-45deg);
    margin-top: 40%;
    margin-left: 30%;
}

div.arrow::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #22a2c4;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
}

div.arrow:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
        left: 0%;
		border-style: solid;
		border-color: #22a2c4;
		transform-origin: 80% 0;
		transition:.2s ease;
}

#ir_arriba_boton:hover .arrow::after{
    transform: rotate(45deg);
    border-color: #ffffff;
    height: 110%;
}

#ir_arriba_boton:hover div.arrow::before {
    border-color: #ffffff;
    transform: scale(.8);
}

/*Contacto div de texto e imagen*/
div.contacto{
    text-align: center;
    justify-content: center;
}

/*Botón de Modo Oscuro (switch)*/

button.switch{
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    margin: 15px auto;
    position: relative;
    cursor: pointer;
    display: flex;
    float: right;
    outline: none;
}

button.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0%;
    left: 0%;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    border-bottom: 0px 0px 2px 2px rgba(0,0,0,.2);
}

button.switch.active{
    background: orange;
    color: #000;
}

button.switch.active::after{
    right: 0%;
    left: unset;
}

span.switch{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

/*Formulario-de-Login*/

div.login-box{
    width: 320px;
    height: 420px;
    border-radius: 15px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: darkgray 31px 31px;
}

div.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

div.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

div.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

div.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

div.login-box input.prueba{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    cursor: pointer;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

div.login-box input[type="submit"]{
    border: 1px;
    border-color: #22a2c4;
    outline: none;
    cursor: pointer;
    height: 40px;
    background: white;
    color: #22a2c4;
    font-size: 18px;
    border-radius: 50px;
}

div.login-box input[type="submit"]:hover{
    box-sizing: border-box;
    transform: scale(1.1);
    color: white;
    background: #22a2c4;
    transition: 0.3s;
}

div.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    transition: .3s all;
}

div.login-box a:hover{
    color: white;
}

/*Formulario-de-Register*/
div.register-box{
    width: 320px;
    height: 620px;
    border-radius: 15px;
    background: #000;
    color: #fff;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: darkgray 31px 31px;
}
div.register-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

div.register-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

div.register-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

div.register-box input{
    width: 100%;
    margin-bottom: 20px;
}

div.register-box input.prueba{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    cursor: pointer;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

div.register-box input[type="submit"]{
    border: 1px;
    border-color: #22a2c4;
    outline: none;
    cursor: pointer;
    height: 40px;
    background: white;
    color: #22a2c4;
    font-size: 18px;
    border-radius: 50px;
}

div.register-box input[type="submit"]:hover{
    box-sizing: border-box;
    transform: scale(1.1);
    color: white;
    background: #22a2c4;
    transition: 0.3s;
}

div.register-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    transition: .3s all;
}

div.register-box a:hover{
    color: white;
}


/*Redes*/

div.redes-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    right: 50%;
    transform: translate(-50%);
}

div.redes-container ul li a{
    display: block;
    padding: 0px 10px;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,.2);
    transition: .2s;
}

div.redes-container ul:hover a{
    filter: blur(2px);
}

div.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,.4);
    filter: none;
}

div.redes-container ul li a.facebook:hover{
    background-color: #3b5999;
}

div.redes-container ul li a.instagram:hover{
    background-color: #e4405f;
}

div.redes-container ul li a.whatsapp:hover{
    background-color: #5fd172;
}

div.redes-container ul li a.gmail:hover{
    background-color: #BB001B;
}

div.redes-container ul li a.twitter:hover{
    background-color: #55acee;
}

div.redes-container ul li a.github:hover{
    background-color: #7B68EE;
}


div.carousel-inner{height: 500px;}